/* Width */

@media (max-width:1130px){
	.page4line1 {
    height: 14%;
	}
	.page4line3 {
		height: 79%;
		flex-direction: column;
		align-items: center;
	}
	.page4line3col1 {
		height: 25%;
		width: 45%;
		flex-direction: row;
		padding: unset;
	}
	.page4line3col2 {
		height: 45%;
		width: 55%;
		align-items: center;
		padding: unset;
	}
	.page4line3col2line1{
		width: 100%;
	}
	.page4line3col2line2{
		width: 100%;
	}
	.page4line3col2line3{
		width: 100%;
	}
	.page4line3col3 {
		height: 33%;
		width: 77%;
	}
	.customblock1 {
		height: 270vh;
	}
	.page5line1 {
		height: 5%;
		padding-bottom: 29px;
	}
	.page5line2 {
		height: 3%;
	}
	.page5line3 {
		height: 4%;
	}
	.page5line3wrap {
		width: 67%;
	}
	.page5line4 {
		flex-direction: column;
		height: 76%;
	}
	.page5line5 {
		height: 7%;
	}
	
}
@media (max-width:1100px){
	.slidertextline2 {
		width: 56%;
	}
	.slidertext {
		align-items: flex-end;
	}
}
@media (max-width:970px){
	.page5line5text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.page5line5textline1 {
		width: 389px;
	}
	.page6line1 {
		height: 9%;
		padding-bottom: 13px;
	}
	.page6line3 {
		height: 80%;
	}
	.page6line3sliderwrap {
		height: 100%;
		width: 550px;
	}
	.page6line3slider1 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.page6line3slider2 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.page6line3slider3 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.sliderimg {
		padding-left: unset;
		justify-content: center;
	}
	.sliderimgteam {
		height: 313px;
		width: 252px;
	}
	.slidertext {
		width: 81%;
	}
	.slidertextline2 {
		width: 100%;
	}
}
@media (max-width:920px){
	.menubox{
		width: 63%;
		flex-wrap: wrap;
		padding-top: 16px;
		align-items: center;
		justify-content: center;
	}
	.citename {
		width: 30%;
		min-width: 295px;
	}
	.menubox {
		padding-right: 314px;
	}
	.page2line4col2line2 {
        box-sizing: border-box;
		padding: 0 20px;
	}
	.page2line4col1line2 {
        box-sizing: border-box;
		padding: 0 20px;
	}
	.page2line4col1line1 {
        box-sizing: border-box;
		padding: 0 20px;
	}
}
@media (max-width:805px){
	.page3line4text {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.page5line3wrap {
		width: 100%;
	}
}
@media (max-width:750px){
	.menubox {
		width: 71%;
		padding-right: 180px;
	}
	.citename {
		width: 29%;
		min-width: 240px;
		padding-left: 65px;
	}
}
@media (max-width:670px){
	.p1line3 {
		width: 69%;
	}
	.page3line3 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.page3photowrap_a {
		width: 100%;
	}
	.page3photowrap_a:hover {
		height: 160%;
		width: 100%;
	}
	.page3photowrap_a:focus {
		border-right: none;
		border-left: none;
		box-shadow: none;
		transition: 0s;
		box-sizing: border-box;
	}
	.page3line4textcol1 {
		width: 79%;
	}
	.page3line1 {
		height: 16%;
	}
	.page3line3 {
		height: 53%;
	}
	.page3line4 {
		height: 19%;
	}
	.page3line2 {
		padding: 0 134px 120px;
	}
}
@media (max-width:640px){
	.menubox {
		padding-right: 240px;
	}
	.page2line4{
		flex-direction: column;
	}
	.page2line4col1line1 {
		height: 31%;
	}
	.page2line4col1 {
		height: 62%;
		width: 100%;
	}
	.page2line4col2 {
		height: 100%;
		width: 100%;
	}
	.page2line4col2line1{
		display: none;
	}
	.page5line4colwrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.customblock1 {
		height: 477vh;
	}
	.page5line1 {
		height: 3%;
		padding-bottom: 29px;
	}
	.page5line2 {
		height: 1%;
	}
	.page5line3 {
		height: 2%;
	}
	.page5line4 {
		height: 87%;
	}
	.page5line5 {
		height: 4%;
	}
	.page6line3sliderwrap {
		width: 432px;
	}
	.page6line3 {
		height: 77%;
	}
	.page6line2 {
		height: 8%;
		width: 300px;
	}
	#page6 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width:535px){
	.p1line3 {
		width: 100%;
	}
	.page2line2 {
		width: 67%;
	}
	.page3line2 {
		padding: 0 29px 120px;
	}
	.page4line3col1 {
		height: 12%;
		width: 92%;
	}
	.page4line3col2 {
		height: 33%;
		width: 93%;
	}
	.page4line3col3 {
		height: 55%;
		width: 94%;
		min-width: unset;
		flex-direction: column;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center
	}
	.page4line3col3col123 {
		width: 29%;
	}
	.page4line1 {
		height: 10%;
		padding-bottom: 17px;
	}
	.page4line2 {
		height: 8%;
		box-sizing: border-box;
		padding: 0px 64px;
	}
	.page5line3wrap {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.page5line3btn {
		box-sizing: border-box;
		padding: 0 7px;
	}
	.page5line2 {
		height: 2%;
		width: 58%;
	}
	#page5 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.page5line4 {
		height: 86%;
	}
	.customblock1 {
		height: 484vh;
	}
}
@media (max-width:525px){
	.menubox {
		display: none;
	}
	.burgerbtn {
		display: flex;
	}
	.burgermenu {
		display: flex;
	}
	.page5line5textline1 {
		width: 229px;
		height: 65%;
		font-size: 18px;
		padding-top: unset;
	}
	.page5line5textline2 {
		height: 35%;
	}
}
@media (max-width:480px){
	.p1line2{
		padding: 0px 173px 26px;
	}
	.page2line4 {
		height: 47%;
	}
	.page2line3 {
		height: 26%;
	}
	.page5line2 {
		width: 89%;
	}
	.page6line3sliderwrap {
		width: 298px;
	}
	.slidertextline1 {
		height: 10%;
	}
	.slidertextline2 {
		height: 36%;
		width: 72%;
	}
	.slidertextline3 {
		height: 47%;
	}
	.slidertextline3row2 {
		padding-top: 9px;
	}
	.slidertextline1::after {
		top: -4px;
	}
}
@media (max-width:400px){
	.page2line1 {
		width: 34%;
	}
	.page2line2 {
		width: 89%;
	}
	.page4line2 {
		padding: 0px 10px;
	}
	.page5line3btn {
		padding: 0px 13px;
	}
	.page5line3 {
		height: 3%;
	}
	.page5line3 {
		height: 2%;
		margin-bottom: 29px;
	}
}
@media (max-width:370px){
	.p1line3 {
		width: 83%;
	}
	.page2line4 {
		height: 53%;
	}
	.page2line3 {
		height: 20%;
	}
	.page2line4col2 {
		box-sizing: border-box;
		padding-top: 15px;
	}
	.page3line1 {
		padding: 0 109px 31px;
	}
	.footertext {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.footertextline1 {
		width: 100px;
	}
}
@media (max-width:313px){
	.p1line3 {
		width: 97%;
	}
}
@media (max-width:300px){
	.burgerbtn {
	    left: 11px;
	}
	#inputburger:checked ~ .burgermenu {
		right: 0px;
	}
	.page2line3btn {
		margin: 0px 5px;
	}
	.page2line4col1line2 {
		font-size: 15px;
	}
	.page2line4col2line2 {
		font-size: 15px;
	}
	.page2line1 {
		height: 20%;
		padding-bottom: 28px;
	}
	.page2line2 {
		width: 77%;
		height: 12%;
	}
	.page2line3 {
		height: 14%;
	}
	.page2line4 {
		height: 53%;
	}
	.page3line4textcol1 {
		font-size: 18px;
		box-sizing: border-box;
		padding: 0 17px;
	}
	.page5line5textline1 {
		width: 169px;
		font-size: 15px;
	}
}


/* Height Portrait*/

@media (max-height:900px) and (orientation: portrait){
	.customblock1 {
		height: 283vh;
	}
	.page6line1 {
		height: 7%;
	}
	.page6line3 {
		height: 82%;
	}
	#page6 {
		height: 124vh;
	}
}
@media (max-height:860px) and (orientation: portrait){
	.customblock1 {
		height: 623vh;
	}
	.page4line1 {
    height: 7%;
    padding-bottom: 15px;
	}
	.page4line3 {
		height: 86%;
	}
	#page4 {
		height: 150vh;
	}
	.page4line2 {
		height: 7%;
	}
	.page4line3col1 {
		height: 8%;
	}
	.page4line3col2 {
		height: 25%;
	}
	.page4line3col3 {
		height: 67%;
	}
}
@media (max-height:820px) and (orientation: portrait){
	
	#page4 {
		height: 168vh;
	}
	.page4line1 {
		height: 7%;
	}
	.page4line2 {
		height: 7%;
	}
	.page4line3col1 {
		height: 8%;
	}
	.page4line3col2 {
		height: 26%;
	}
	.page4line3col3 {
		height: 66%;
	}
	
}
@media (max-height:780px) and (orientation: portrait){
	.page2line1 {
		height: 19%;
		padding-bottom: 11px;
	}
	.page2line2 {
		height: 10%;
	}
	.page2line3 {
		height: 12%;
	}
	.page2line4 {
		height: 59%;
	}
	.page3line1 {
		height: 12%;
		padding-bottom: 18px;
	}
	.page3line2 {
		padding: 0px 29px 106px;
	}
	.page3line3 {
		height: 60%;
	}
	#page3 {
		height: 150vh;
	}
}
@media (max-height:710px) and (orientation: portrait){
	.customblock1 {
		height: 700vh;
	}
	.page2line1 {
		width: 70%;
		height: 14%;
	}
	.page2line4 {
		height: 64%;
	}
	#page6 {
		height: 143vh;
	}
	#footer {
		height: 30vh;
	}
	#page4 {
		height: 198vh;
	}
}
@media (max-height:640px) and (orientation: portrait){
	.customblock1 {
		height: 750vh;
	}
	.p1line2 {
		padding: 0px 68px 35px;
	}
	.scrollbtnswrap {
		top: 85vh;
		right: 5vw;
	}
	.p1mainline {
		height: 72%;
	}
	.p1footerline {
		height: 18%;
	}
	#page2 {
		height: 130vh;
	}
	.page3line4textcol2 {
		height: 33%;
	}
	.page3line4textcol1 {
		height: 47%;
	}
	.footertextline1 {
		height: 57%;
		padding-top: 0px;
	}
	.footertextline2 {
		height: 17%;
	}
}
@media (max-height:600px) and (orientation: portrait){
	.customblock1 {
		height: 805vh;
	}
	#page6 {
		height: 169vh;
	}
}
@media (max-height:550px) and (orientation: portrait){
	.customblock1 {
		height: 850vh;
	}
	.page3line3 {
		height: 61%;
	}
	#page3 {
		height: 200vh;
	}
	#page4 {
		height: 250vh;
	}
}
@media (max-height:525px) and (orientation: portrait){
	.customblock1 {
		height: 900vh;
	}
	.p1line2 {
		padding: 0px 42px 18px;
	}
	.footertextline1 {
		width: 139px;
	}
}
@media (max-height:500px) and (orientation: portrait){
	.customblock1 {
		height: 960vh;
	}
	.scrollbtnswrap {
    top: 82vh;
    right: 5vw;
	}
}
@media (max-height:460px) and (orientation: portrait){
	.customblock1 {
		height: 1000vh;
	}
	.p1line2 {
		padding: 0px 13px 6px;
	}
	.scrollbtnswrap {
		top: 78vh;
	}
}


/* Height Landscape */

@media (max-height:800px) and (orientation: landscape){
	.page6line3sliderwrap {
		width: 89%;
	}
	.page6line3slider1 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider2 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider3 {
		flex-direction: row;
		justify-content: space-between;
	}
	.sliderimg {
		padding-left: 110px;
	}
	.slidertext {
		width: 40%;
	}
	.page6line1 {
		height: 16%;
	}
	.page6line2 {
		height: 9%;
	}
	.page6line3 {
		height: 75%;
	}
	#page6 {
		height: 123vh;
	}
}
@media (max-height:700px) and (orientation: landscape){
	.menubox {
		padding-right: 49px;
	}
	.headline {
		height: 17%;
	}
	.p1mainline {
		height: 64%;
	}
	.scrollbtnswrap {
		top: 85vh;
		right: 3vw;
	}
	.page4line3col1 {
		padding: 46px 43px;
	}
	.page6line3sliderwrap {
		width: 89%;
	}
	.page6line3slider1 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider2 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider3 {
		flex-direction: row;
		justify-content: space-between;
	}
	.sliderimg {
		padding-left: 110px;
	}
	.slidertext {
		width: 40%;
	}
	.page6line1 {
		height: 16%;
	}
	.page6line2 {
		height: 9%;
	}
	.page6line3 {
		height: 75%;
	}
	#page6 {
		height: 143vh;
	}
}
@media (max-height:600px) and (orientation: landscape){
	.menubox {
		padding-right: 49px;
	}
	.headline {
		height: 21%;
	}
	.p1mainline {
		height: 60%;
	}
	.scrollbtnswrap {
		top: 81vh;
		right: 3vw;
	}
	.customblock1 {
		height: 539vh;
	}
	.page4line1 {
		height: 14%;
		padding-bottom: 21px;
	}
	.page4line2 {
		height: 9%;
	}
	.page4line3 {
		height: 77%;
	}
	#page4 {
		height: 151vh;
	}
	.page4line3col1 {
		height: 14%;
	}
	.page4line3col2 {
		height: 36%;
	}
	
	.page6line3sliderwrap {
		width: 89%;
	}
	.page6line3slider1 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider2 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider3 {
		flex-direction: row;
		justify-content: space-between;
	}
	.sliderimg {
		padding-left: 110px;
	}
	.slidertext {
		width: 40%;
	}
	.page6line1 {
		height: 16%;
	}
	.page6line2 {
		height: 9%;
	}
	.page6line3 {
		height: 75%;
	}
	#page6 {
		height: 165vh;
	}
}

@media (max-height:500px) and (orientation: landscape){
	.menubox {
		padding-right: 49px;
	}
	.headline {
		height: 18%;
	}
	.p1mainline {
		height: 58%;
	}
	.scrollbtnswrap {
		top: 79vh;
		right: 3vw;
	}
	.page2line1 {
		height: 15%;
		padding-bottom: 14px;
	}
	.page2line2 {
		height: 12%;
	}
	.page2line3 {
		height: 21%;
	}
	.page2line4 {
		height: 52%;
	}
	.page3line1 {
		height: 18%;
		padding-bottom: 11px;
	}
	.page3line2 {
		height: 18%;
		padding-bottom: 67px;
	}
	.page3line3 {
		height: 44%;
	}
	.page3line4 {
		height: 20%;
	}
	.customblock1 {
		height: 555vh;
	}
	.page4line1 {
		height: 14%;
		padding-bottom: 21px;
	}
	.page4line2 {
		height: 9%;
	}
	.page4line3 {
		height: 77%;
	}
	#page4 {
		height: 175vh;
	}
	.page4line3col1 {
		height: 14%;
	}
	.page4line3col2 {
		height: 36%;
	}
	.page6line3sliderwrap {
		width: 89%;
	}
	.page6line3slider1 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider2 {
		flex-direction: row;
		justify-content: space-between;
	}
	.page6line3slider3 {
		flex-direction: row;
		justify-content: space-between;
	}
	.sliderimg {
		padding-left: 110px;
	}
	.slidertext {
		width: 40%;
	}
	.page6line1 {
		height: 16%;
	}
	.page6line2 {
		height: 16%;
	}
	.page6line3 {
		height: 62%;
	}
	#page6 {
		height: 165vh;
	}
	.slidertextline2 {
		width: 100%;
		align-items: unset;
	}
	#footer {
		height: 30vh;
	}
}
@media (max-height:450px) and (orientation: landscape){
	.customblock1 {
		height: 593vh;
	}
	.page4line1 {
		height: 14%;
		padding-bottom: 21px;
	}
	.page4line2 {
		height: 9%;
	}
	.page4line3 {
		height: 77%;
	}
	#page4 {
		height: 200vh;
	}
	.page4line3col1 {
		height: 14%;
	}
	.page4line3col2 {
		height: 36%;
	}
}
@media (max-height:415px) and (orientation: landscape){
	.customblock1 {
		height: 620vh;
	}
}
@media (max-height:400px) and (orientation: landscape){
	.menubox {
		padding-right: 49px;
	}
	.headline {
		height: 22%;
	}
	.p1mainline {
		height: 56%;
	}
	.scrollbtnswrap {
		top: 74vh;
		right: 3vw;
	}
	.customblock1 {
		height: 670vh;
	}
	#footer {
		height: 47vh;
	}
}
@media (max-height:365px) and (orientation: landscape){
	.customblock1 {
		height: 692vh;
	}
	#page4 {
		height: 238vh;
	}
	#page2 {
		height: 125vh;
	}
	.page3line4textcol1 {
		width: 95%;
		font-size: 17px;
	}
	.page3line4textcol2button {
		height: 27px;
	}
	
}
@media (max-height:365px) and (orientation: landscape){
	.customblock1 {
		height: 728vh;
	}
}
@media (max-height:335px) and (orientation: landscape){
	.customblock1 {
		height: 784vh;
	}
}
@media (max-height:311px) and (orientation: landscape){
	.customblock1 {
		height: 827vh;
	}
}
@media (max-height:300px) and (orientation: landscape){
	.customblock1 {
		height: 870vh;
	}
}

@media (max-width:800px) and (orientation: landscape){
	.page4line3col1 {
    width: 79%;
	}
}


/* Loading */
@media (max-width:700px){
	.text {
		height: 100px;
		width: 396px;
		font-size: 79px;
	}
}
@media (max-width:600px){
	.text {
		width: 236px;
		font-size: 48px;
	}
	.circle2 {
		left: 182px;
		top: -63px;
	}
}
@media (max-width:300px){
	.text {
		width: 186px;
		font-size: 38px;
	}
}