#page3{
	background-color: white;
	color: var(--color_lightgrey);
}
.page3line1{
	height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 28px;
    letter-spacing: 3px;
    word-spacing: 3px;
    padding-bottom: 64px;
    box-sizing: border-box;
	color: var(--color_darkgrey);
}
.page3line2{
	height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 17px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: center;
	box-sizing: border-box;
    padding-bottom: 120px;
}
.page3line3{
	height: 50%;
    width: 100%;
	display: flex;
    flex-direction: row;
}
.page3photowrap{
	height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: 1s;
}
.page3photowrap_a{
	height: 100%;
    width: calc(100% / 3);
	transition: 1s;
	cursor: url(./images/cursorbtn.png), auto;
}
.page3photo{
	height: 100%;
	width: 100%;	
    filter: brightness(0.2) grayscale(1);
	transition: 1s;
}
.page3phototext{
	font-size: 27px;
    position: absolute;
    color: white;
	font-family: var(--font-family_Arial_Narrow);
	letter-spacing: 7px;
	/* transition: 1s; */
}
.page3photo1{
	background-image: url(./images/page3photo1.jpg);
    background-size: cover;
    background-position: center;
}
.page3photowrap_a:focus{
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
    box-shadow: 0px 10px 18px 1px white;
	transition: 0s;
	box-sizing: border-box;
}
.page3photowrap_a:hover{
	width: 65%;
}
.page3photowrap:hover .page3photo{
	filter: none;
}
.page3photowrap:hover .page3phototext{
	visibility: hidden;
}
.page3photo2{
	background-image: url(./images/page3photo2.jpg);
	background-size: cover;
	background-position: center;
}
.page3photo3{
	background-image: url(./images/page3photo3.jpg);
	background-size: cover;
	background-position: center;
}
.page3line4{
	height: 15%;
    width: 100%;
	background-image: url(./images/page3photo4.jpg);
	background-position: center;
    background-repeat-y: no-repeat;
}
.page3line4text{
	height: 100%;
    width: 100%;
	background-color: hsl(166deg 99% 30% / 87%);
	display: flex;
	justify-content: space-evenly;
}
.page3line4textcol1{
	height: 100%;
    width: 60%;
	display: flex;
	justify-content: center;
    align-items: center;
	color: white;
	font-size: 21px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.page3textletter-spacing{
	letter-spacing: 2px;
}
.page3line4textcol2{
	height: 100%;
    width: 20%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.page3line4textcol2button{
	height: 34px;
    width: 130px;
	border: solid white 1px;
	border-radius: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.page3line4textcol2button:hover{
	box-shadow: 0px 0px 6px 5px #ffffff;
}
.button:focus .page3line4textcol2button{
	background-color: hsl(166deg 100% 20%);
}
